In [2]:
import pandas as pd

# Cargar el archivo
df = pd.read_csv("transacciones_simuladas 2.csv")

#  Agrupar por tipo de transacción
grupo = df.groupby("tipo_transaccion")

 #Ver cuántas transacciones hay en cada grupo
print(grupo.size())

tipo_transaccion
compra           3352
retiro           3278
transferencia    3370
dtype: int64

In [7]:
# Ver nombres de columnas
print("=== NOMBRES DE COLUMNAS ===")
print(df.columns.tolist())

=== NOMBRES DE COLUMNAS ===
['id_transaccion', 'id_cliente', 'nombre_cliente', 'cuenta_origen', 'fecha', 'monto', 'divisa', 'tipo_transaccion', 'ciudad', 'cuenta_destino', 'categoria_comercio']

In [12]:
# Ver ciudades 
print("CIUDADES")
ciudades_unicas = df['ciudad'].unique()
print(ciudades_unicas)
print(f"\nTotal de ciudades diferentes: {df['ciudad'].nunique()}")

CIUDADES
['Queretaro' 'Juarez' 'Paris' 'Puebla' 'Monterrey' 'Merida' 'Leon'
 'Torreon' 'Tijuana' 'Madrid' 'CDMX' 'Guadalajara' 'Brasil' 'Barcelona'
 'Los Angeles' 'Sidney' 'London' 'Bogota' 'Boston' 'New York'
 'Buenos Aires' 'Montreal' 'Israel' 'Cali' 'India' 'China' 'Nigeria'
 'Ucrania' 'New york' 'Peru' 'Libia' 'Texas' 'Milan' 'Moscu']

Total de ciudades diferentes: 34

In [5]:
# Ordenar los datos por monto en orden descendente
df_ordenado = df.sort_values(by="monto", ascending=False)

# Mostrar las primeras filas para verificar
print(df_ordenado.head(10))

      id_transaccion  id_cliente     nombre_cliente           cuenta_origen  \
3444            3445        4508        Laura Price  ES25203010770036579757
5374            5375        8796     Frances Joseph  ES82043997879436965728
3330            3331        7016       Susan Barnes  ES97485046117969424317
6515            6516        7295  Samantha Caldwell  ES25328975908033588586
8904            8905        7606   Michael Melendez  ES56719779144675253265
3697            3698        3420    Danielle Phelps  ES35334835497588864601
6346            6347        6517   Alexandria Jones  ES86760804123561858475
5681            5682        6958        Dennis King  ES73079118584643862049
3222            3223        1055    Jordan Garrison  ES49413931305950700968
7515            7516        2945        Scott Curry  ES86891239974766236110

           fecha     monto divisa tipo_transaccion       ciudad  \
3444  23/09/2025  49995.63    MXN           compra  Guadalajara
5374  27/04/2025  49992.38    EUR    transferencia         Leon
3330  03/09/2025  49988.09    USD           compra  Guadalajara
6515  13/07/2025  49986.96    USD           retiro    Queretaro
8904  03/09/2025  49981.24    USD           compra       Merida
3697  21/09/2025  49981.06    MXN           retiro         CDMX
6346  07/08/2025  49973.11    EUR           retiro         Leon
5681  23/05/2025  49965.07    MXN           retiro  Guadalajara
3222  31/07/2025  49964.03    USD    transferencia         CDMX
7515  10/08/2025  49955.90    USD    transferencia      Tijuana

              cuenta_destino categoria_comercio
3444                     NaN               ropa
5374  ES22967848312916265659                NaN
3330                     NaN               ropa
6515                     NaN                NaN
8904                     NaN       supermercado
3697                     NaN                NaN
6346                     NaN                NaN
5681                     NaN                NaN
3222  ES36330481967789690273                NaN
7515  ES95491352441952045094                NaN

In [6]:
# Filtrar las transacciones extranjeras
extranjeras = df[~df["ciudad"].isin([
    "Mexico","CDMX","Guadalajara","Monterrey","Puebla","Cancun","Merida","Tijuana",
    "Queretaro","Chihuahua","Hermosillo","Culiacan","Toluca","Leon","Morelia",
    "Villahermosa","Tuxtla","Veracruz","Oaxaca","Zacatecas","Durango","Saltillo",
    "Aguascalientes","Campeche","Colima","Cuernavaca","Chetumal","Tlaxcala","Juarez","Torreon"
])]

# Mostrar las primeras 10 transacciones extranjeras
extranjeras.head(10)

,id_transaccion,id_cliente,nombre_cliente,cuenta_origen,fecha,monto,divisa,tipo_transaccion,ciudad,cuenta_destino,categoria_comercio
2,3,6403,Amanda Lewis,ES94278160534459740595,04/07/2025,30644.10,MXN,retiro,Paris,NaN,NaN
21,22,6200,Sara Hayes,ES87715058744226080998,25/07/2025,4282.67,USD,retiro,Madrid,NaN,NaN
81,82,4041,Jesse Haley,ES24466833169075235511,03/08/2025,38341.71,MXN,compra,Brasil,NaN,tecnologia
151,152,1556,Nicole Blair,ES83690781662920254161,22/04/2025,13329.34,EUR,compra,Barcelona,NaN,supermercado
181,182,8594,Katelyn Tran,ES60362173861452778103,31/07/2025,9605.27,USD,retiro,Los Angeles,NaN,NaN
221,222,6970,Jose Johnston,ES22804134254660089308,31/03/2025,3196.42,EUR,compra,Sidney,NaN,tecnologia
268,269,3131,Carrie Pena,ES90084414001615422937,24/05/2025,13032.16,MXN,transferencia,London,ES64550640167281989000,NaN
335,336,3738,Aaron Harvey,ES96820587356490596692,06/08/2025,36990.43,MXN,transferencia,Bogota,ES91517096893090446353,NaN
442,443,9954,Michael Hernandez,ES27156253917943792518,09/09/2025,44483.26,USD,compra,Boston,NaN,servicios
498,499,3223,William Horne,ES75827781751930120425,01/06/2025,22475.55,MXN,retiro,Paris,NaN,NaN

In [ ]:
# 4 Revisar si la ciudad "sudafrica" está en la lista de ciudades
"sudafrica" in df["ciudad"].unique()

False

In [15]:
#  Calcular el monto promedio de los retiros
promedio_retiro = df[df["tipo_transaccion"] == "retiro"]["monto"].mean()
print(f"La cantidad promedio que se retira es: {promedio_retiro:.2f}")

La cantidad promedio que se retira es: 24861.53

In [18]:
#cual a sido el retiro mayor 
retiro_mayor =df[df["tipo_transaccion"]=="retiro"]["monto"].max()
print(f"La cantidad mayor que se retira es: {retiro_mayor:.2f}")

La cantidad mayor que se retira es: 49986.96

In [24]:
#7.cuantos depositos estan entre 20,000 y 35,000

depositos = df[(df["tipo_transaccion"] == "transferencia") & (df["monto"] >= 20000) & (df["monto"] <= 35000)]
print(f"Cantidad de depositos: {len(depositos)}")

Cantidad de depositos: 974

In [ ]:
#8.agrupa los datos por tipo de divisa
tipos_divisa = df.groupby("divisa")
print(tipos_divisa.size())

divisa
EUR    3334
MXN    3325
USD    3341
dtype: int64

In [26]:
#9.cambia las divisas de euros a dolares
df['divisa'] = df['divisa'].replace('EUR', 'USD')
print(df['divisa'].value_counts())

divisa
USD    6675
MXN    3325
Name: count, dtype: int64